<%
  payment_method =
    @order.payments.map(&:payment_method).select do |pm|
      pm.is_a?(Spree::PaymentMethod::BankTransfer)
    end.first
%>

<% if payment_method.present? %>
  <h4><%= Spree.t(:pay_with_this_method, scope: :bank_transfer) %></h4>
  <p>
    <strong><%= Spree.t(:reason_for_payment, scope: :bank_transfer) %>: </strong>
    <span><%= Spree.t(:reason_for_payment_value, scope: :bank_transfer, order_number: @order.number) %></span>
    <br>
    <strong><%= Spree.t(:holder, scope: :bank_transfer) %>: </strong>
    <span><%= payment_method.preferred_holder %></span>
    <br>
    <strong><%= Spree.t(:iban, scope: :bank_transfer) %>: </strong>
    <span><%= payment_method.preferred_iban %></span>
    <br>
    <strong><%= Spree.t(:bank_name, scope: :bank_transfer) %>: </strong>
    <span><%= payment_method.preferred_bank_name %></span>
  </p>
<% end %>
