<div>
  <h4><%= t('spree.bank_transfer.pay_with_this_method') %></h4>
  <p>
    <strong><%= t('spree.bank_transfer.reason_for_payment') %>: </strong>
    <span><%= t('spree.bank_transfer.reason_for_payment_instructions') %></span>
    <br>
    <strong><%= t('spree.bank_transfer.holder') %>: </strong>
    <span><%= payment_method.preferred_holder %></span>
    <br>
    <strong><%= t('spree.bank_transfer.iban') %>: </strong>
    <span><%= payment_method.preferred_iban %></span>
    <br>
    <strong><%= t('spree.bank_transfer.bank_name') %>: </strong>
    <span><%= payment_method.preferred_bank_name %></span>
  </p>
</div>
